.body-index{
	background:#9fdbcf;
}
.cabecera-index{
	background:#74b3b0;
	margin-top:40px;
	text-align:center;
}
.p-header{
	padding-top:15px;
	font-family: "Mystery Quest", cursive;
    font-size: 100%;
}