body{
	margin:0;
	padding:0;
}
.tablero{
	width:760px;
	margin:50px auto 0;
}
.carta{
	width:150px;
	height:225px;
	margin:20px;
	float:left;
	overflow:hidden;
	border-radius:10px;
	position:relative;
	background-color:#333;
	transition:0.9s;
}
.carta img{
	display:block;
	height:100%;
	position:absolute;
}
.volteada{
	transform:rotate3d(0,1,0,180deg);
}
.volteada img{
	opacity:0;
}
.desaparecer{
	opacity:0;
	pointer-events:none;
}